
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;

}

::selection{
  background-color: black;
  color: aliceblue;
}
